input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1f75fe;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;